body {
	width: 960px;
	margin: 0px auto;
	text-align: center;
	font-size: 11pt;
	font-family: Helvetica, Arial, sans-serif;	
}

html {
	background: none;
	z-index: -9999;
}
img {
	border: 0px;
}
hr {
	padding: 0px;
	margin: 2px;
	border: 0px;
	border-top: 1px solid #ccc;
}
h1 {
	font-size: 22pt;
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

h2 {
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 14px;
}

h3 {
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 16px;
}

h4 {
	margin-bottom: 0px;
	font-weight: bold;
}

p {
	margin-bottom: 15px;
	text-indent: 15px;
	color: #555;
}

label {
	display: inline-block;
	margin-top: 8px;
}
a, a:hover, a:visited, a:active {
	color: #517781;
	text-decoration: none;
}
a:visited {
	color: #6A9CA8;
}
a:hover {
	text-decoration: underline;
}
code {
	width: 100%;
}
pre {
	white-space: pre-wrap;
	text-align: justify;
	border: 1px solid #aaa;
	margin: 0px;
	margin-top: 10px;
	padding: 10px;
	width: 728px;
}
div.main {
	width: 1000px;
	margin: 0px auto;
	text-align: justify;
	
}


.pane {
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	width: 100%;
	margin: 5px;

}


sidebar {
    display: block;
}
sidebar.small {
	width: 20%;
	text-align: center;
}
sidebar.small h3 {
	text-align: left;
}
div.rsmall {
	width: 25%;
}


section.big {
    display: block
	text-align: left;
	width: 75%;
	background: none;
	padding-top: 0px;
    z-index: 0;
}

section.big span.abbr {
	border-bottom: 1px dotted #000;
	text-align: left;
	display: inline;
}

section.big span.labelSpan {
    text-align: left;
    margin: 0;
    padding: 0;
    display: inline;
}

section#afg-browser {
    display: block;
    width: 100%;
}


form.ed {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
table.report, table.ed {
	border: 1px solid #aaa;
	margin-top: 10px;
	width: 100%;
	margin: 10px auto;

}
table.report th, table.ed th {
	background: #ccc;
	font-weight: bold;
}

table.report td, table.report th {
	margin: 2px;
	padding: 5px;
	border: 1px solid #aaa;
	text-align: center;

}
table.ed th, table.ed td {
	text-align: center;
	padding: 3px;
	margin-top: 5px;
	overflow: auto;
	max-height: 400px;
}
table.ed th {
	border-top: 1px solid #000;
}
table.ed td textarea {
	width: 100%;
	height: 300px;
}
table.ed td {
	padding-bottom: 10px;
}
table.ed td.content {
	padding-top: 10px;
	margin: 5px;	
	text-align: justify;
}
table.r1 td {
	width: 20%;
}
table.r2 td {
	width: 20%;
}
table.r3 td {
	width: 20%;
}
table.r3 td.c1 {
	width: 20%;
	text-align: right;
}
table.report td.c2 {
	width: 60%;
	text-align: left;
}
table.list {
	margin-top: 0px;
	margin: 0px;
	font-size: small;
}
table.list td {
	width: 25%;
}
table.list th {
	background: #ddd;
}
div.paginator {
	margin: 8px;
	padding: 2px;
	text-align: center;
}
div.paginator a {
	margin: 1px;
	clear: none;
}

ul.sort {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.sort, div.pick {
	margin: 5px;
	text-align: center;
}
div.pick a {
	display: block;
}

div.pick a.sort { 
	display: inline-block;
	border: 1px solid #aaa;
	font-weight: bold;
	margin-top: 4px;
	color: #888;
	height: 17px;
	width: 18px;
}
ul.sort {
	background: #eee;
	border: 1px solid #aaa;
	padding: 4px;
}
div#browse h3 {
	margin-top: 30px;
	margin-bottom: 2px;
}

#map {
    display: block;
    position: relative;
    border:1px solid black;
    width: 100%;
    height: 426px;
    margin: 10px 0;
    padding: 0;
    z-index: 0;
    clear: both;
}

.olControlScaleLineBottom {
    display: none;
}

.clear {
	clear: both;
	margin: 0px;
	margin-top: 8px;
	
}
footer {
    display: block;
	clear: both;
	text-align: center;
    width: 100%;
    padding-top: 15px;
}

#mtimes ul {
    list-style: none;
}

#mtimes ul li {
    display: block;
    float: left;
    margin-right: 5px;
}


#afg-timeline {
    display: block;
    font-size: 65%;
    background: #CCCCCC;
    
    height: 200px;
    width: 100%;
}

.timeline-band-layer-inner {
    position: relative;
}

#afg-map {
    width: 100%;
    height: 400px;
    background: #EEEEEE;
    border: none;
    z-index: 0;
}


.olPopup {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px;
    background: #EEEEEE;
    border 1px solid #aaa;
}

.olPopup th,
.olPopup td {
    font-size: 10px;
}

#feature h1 {
    font-size: 1.5em;
}

#feature {
    display: block;
    width: 550px;
    height: 200px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px;
    background: #000;
    border 1px solid #aaa;
    color: #fff;
    padding: 10px;
}

#feature p {
    font-size: 1.1em;
    color: #fff;
}

pre {margin:1.5em 0;white-space:pre; border: 0;}
pre, code, tt {font:1.1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

p.summary {
    font:1.1em 'andale mono', 'lucida console', monospace;
    text-align: left;
    margin: 0.5em 0;
    padding: 0.3em;
    border: 1px solid #ccc;
}

div.about { 
    display: block;
    width: 100%;
    text-align: left;
    padding-top: 10px; 
}

acronym, .toggle-acronyms {
  border-bottom: 1px dashed #880000;
}

dl {
    display: block;
    width: 100%;
   clear: both;
  margin-bottom: 5px; 
}

dt {
    clear: both;
    width: 20%;
    float: left;
    font-weight: bold;
    text-align: right;
    padding-right: 0.5em;
}

dd {
    float: left;
    width: 78%;
    margin: 0 0 0.5em 0.25em;
   padding: 0;
   text-align: left;
}

