
<tr>
    <td>
        <a href="{{showPath}}">{{#doc}}({{Type}}) {{Title}}{{/doc}}</a>
        <hr>
        {{#doc}}{{Summary}}{{/doc}}
    </td>
    <td>
        {{#doc}}
        <table class="report list">
            <tr>
                <td>Affiliation</td>
                <td>{{Affiliation}}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{Type}}}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{Category}}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{Date}}</td>
            </tr>
        </table>
        {{/doc}}
    </td>
</tr>
